/* Body */
body {
    background-color: rgb(15, 18, 19);
    position: relative;
  }
/* Nav */
.navbar {
    font-family: 'Poiret One';
    letter-spacing: .5px;
    font-size: 18px;
}
.current-page {
    font-weight: bold;
}

.logo {
    font-family: 'Poiret One';
    letter-spacing: 2px;
    border-top: 2px solid rgb(255, 139, 93);
    border-left: 2px solid rgb(255, 139, 93);
    color: rgb(6, 53, 48) !important;
}

.navbar-nav {
    border-right: 2px solid turquoise;
    border-bottom: 2px solid turquoise;
}

/* Header */
.greeting {
    font-family: 'Raleway', sans-serif;
    background:rgba(0, 0, 0, 0.6);
    padding-top: 275px;
    padding-bottom: 300px;
}
.jumbotron {
    background-image: url("../images/lines.jpg");
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }
.portfolio-box {
    position: absolute;
    background:rgba(0, 0, 0, 0.5);
    width: 20%;
    padding: 10px;
    top: 63%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    color: white !important;
    font-family: 'Raleway', sans-serif;
    border-right: 1px solid turquoise;
    border-bottom: 1px solid turquoise;
    border-top: 1px solid rgb(255, 139, 93);
    border-left: 1px solid rgb(255, 139, 93);
}

.portfolio-box:hover {
    background: rgb(4, 25, 29);
}

.fa-arrow-circle-right:hover {
    color: white;
}

.heading1 {
    margin-left:auto;
    margin-right:auto;
    top: 40%;
    position: relative;
    animation-name: animate1;
    animation-duration: 4s;
}
.heading2 {
    margin-left:auto;
    margin-right:auto;
    position: relative;
    animation-name: animate2;
    animation-duration: 4s;
}

/* Links */
a:link {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: rgb(13, 117, 107);
    text-decoration: none;
    font-weight: bold;
}

/* Bio section */
  .bio-box {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    position: relative;
    color: rgb(13, 31, 13);
  }

  .bio-row {
    border-left: 2px solid rgb(255, 139, 93);
    border-right: 2px solid turquoise;
  }

/* Icons */
.fa {
    color: rgb(18, 160, 146);
}

/* Featured projects */
.my-projects {
    color: rgb(13, 31, 13);
    padding-bottom: 70px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 18px;
    background-position: top right;
    background-color: white;
}
.port-container {
    position: relative;
}

.card-rounding {
    position: relative;
}
.port-row {
    position: absolute;
    top: 20px;
    justify-content: space-evenly;
    padding-bottom: 60px;
}
.port-pic-featured, .card-rounding {
    border-radius: 7px;
    background-color: rgb(15, 18, 19);
}
.featured {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 150px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    position: absolute;
}

.featured:hover {
    background:rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    border-right: 1px solid turquoise;
    border-bottom: 1px solid turquoise;
    border-top: 1px solid rgb(255, 139, 93);
    border-left: 1px solid rgb(255, 139, 93);
}

/* Portfolio page */
.card-img-overlay {
    background:rgba(0, 0, 0, 0.6);
    bottom: 0;
    top: unset;
    margin: auto;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    border-right: 1px solid turquoise;
    border-bottom: 1px solid turquoise;
    border-top: 1px solid rgb(255, 139, 93);
    border-left: 1px solid rgb(255, 139, 93);
}

.card-img-overlay:hover {
    background: rgb(4, 25, 29);
}

.port-pic {
    background-color: rgb(15, 18, 19);
}

.portfolio-title, .contact-title {
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
}
.img-rel {
  position: relative;
}
.card-img-absolute {
  position: absolute;
  top: 8px;
}


/* Contact Page */
.contact-icons:hover {   
    background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(13, 117, 107));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Footer */
.footer-text {
    position: absolute;
    bottom: 0;
    color: white !important;
    word-spacing: .2em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.footer-text-mobile {
    position: absolute;
    bottom: 0;
    color: rgb(61, 61, 61) !important;
    word-spacing: .2em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.footer-text:link, .footer-text:visited {
color: white !important;
}

.footer-text-mobile:link, .footer-text-mobile:visited {
    color: rgb(61, 61, 61) !important;
    }
/* Responsiveness */
@media only screen and (max-width: 962px) {
    .portfolio-box {
        width: 30%;
        top: 65%;
    }
    .featured {
        padding-top: 100px;
    }
}
@media only screen and (max-width: 640px) {
    .portfolio-box {
        width: 40%;
    }
    .heading1 {
        top: 30%;
    }
}    
@media only screen and (max-width: 767px) {
    .featured {
        padding-top: 50px;
        }
}

@media only screen and (max-width: 575px) {
    .logo {
        border: none;
    }
    .navbar-nav {
        border: none;
        padding-right: 10px;
    }
    .greeting {
        padding-top: 175px;
    }
}

@media only screen and (max-width: 414px) {
    .card-img-overlay {
        font-size: 12px;
    }
}

@media only screen and (min-width: 1025px) {
    @keyframes animate1 {
        0%   {left:-400px;}
        100% {left:0px;}
    }
    @keyframes animate2 {
        0%   {left:400px;}
        100% {left:0px;}
    }
}

