.profile-pic {
    height: 100%
}

.navbar {
    font-family: 'Poiret One';
    letter-spacing: .5px;
    font-size: 18px;
}
.current-page {
    font-weight: bold;
}

h1 {
    font-family: 'Poiret One';
    letter-spacing: 2px;
}

a:link {
    color: #6c757d;
}

a:visited {
    color: #6c757d;
}

a:hover {
    color: #4a4d50;
    text-decoration: none;
    font-weight: bold;
}

body {
    background-color: black;
  }

h2 {
    font-size: 32px;
    color: #919497;
    border-bottom: 2px solid #ced4da;
}

form {
    color: #919497;
}

.card-body {
    font-family: 'Roboto';
    letter-spacing: .5px;
    color: #919497;
}

textarea {
    max-width: 100%;
    min-width: 100%;
    border: 1px solid #ced4da;
}

.btn-primary {
    background-color: #919497;
    border: none;
}

.card-img-overlay {
    background-color: #555555;
    bottom: 0;
    top: unset;
    max-width: 98%;
    margin: auto;
    padding: 10px;
}

/* New */
.port-pic {
    background-color: black;
}

.portfolio-rows {
    background-color: black;
}