.clearfix::after {
  clear: both;
  display: block;
  content: "";
}

header {
    width: 100%;
    background-color: white;
    float: left;
    height: 50px;
    margin: 0px 0px 0px 0px;
    display: inline;
    padding: 20px 0px 0px 0px;
    border-bottom: 2px solid #cccccc;
}

.headercontainer {
    width: 960px;
    display: block;
    margin: auto;
}

h1.fullname {
    color: white;
    background-color: #4aaaa5;
    padding: 20px 20px 24px 20px;
    margin: 0px;
    text-align: center;
    font-size: 25px;
    letter-spacing: 0.9px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    display: inline;
    font-weight: bold;
}

nav {
    float: right;
    padding: 9px 0px 11px 0px;
    margin: 0px;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #dddddd;
    word-spacing: 7px;
}

a:link, a:visited {
    text-decoration: none;
    color: #a5a5a5; 
}

a:hover {
    color: #888888;
    text-decoration: underline;
    
}

.currentpage {
    font-weight: bold;
}

body {
    background-image: url('../images/so-white.png');
    margin: 0px;
    width: 100%;
}

h2.pageheading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5; 
    border-bottom: 2px solid #d8d8d8;
    padding: 0px 0px 20px 0px;
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: bold;
}

.profilepic {
    height: 190px;
    float: left;
    margin: 2px 25px 20px 0px;
}

section {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    letter-spacing: 0.35px;
    width: 908px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 80px;
    background-color: white;
    padding: 30px 25px 25px 25px;
    color: #888888;
    border-color: #dddddd;
    border-width: 1px;
    border-style: solid;
    text-align: justify;
}

footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    padding: 35px 0px 5px 0px;
    text-align: center;
    color: rgb(221, 221, 221);
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    z-index: 2;
}

#name, #email {
    width: 903px;
    color: #a5a5a5;
    padding: 5px 0px 5px 5px;
    margin: 10px 0px 10px 0px;
    border: 1px solid #dddddd;
}

#message {
    min-width: 905px;
    max-width: 905px;
    margin: 10px 0px 10px 0px;
    border: 1px solid #dddddd;
    height: 150px;
    min-height: 40px;
    max-height: 300px;
}

#submit {
    background-color: #4aaaa5;
    color: white;
    border: none;
    padding: 5px 20px 6px 20px;
    text-align: center;
    margin: 5px 0px 10px 0px;
}

.portfoliopic {
    width: 280px;
    margin-bottom: 30px;
}

.flex-container-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-container-text-upper {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    width: 908px;
    height: 300px;
    justify-content: space-between;
}

.flex-container-text-lower {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    width: 908px;
    height: 300px;
    margin-top: 216px;
    justify-content: space-between;
}

.linkbox {
    color: white !important;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 280px;
    height: 40px;
    padding-top: 20px;
    margin-top: 120px;
    text-align: center;
}



